<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="icon" href="../static/favicon2.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
</head>
<body style="background-color:gold;">

<p>hi {{ username }}</p>

<div style="font-family: 'Dancing Script', serif; font-size: 72px; color: white; background-image: url('/static/panda.jpg');">
    BYE MONKEY<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
    what is ur name?<br/>
</div>

</body>
</html>
